body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    text-align: left;
}

input[type="radio"],
input[type="number"] {
    margin-right: 10px;
}

input[type="number"] {
    width: 100px;
}

button {
    background-color: #13e732;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
}

form {
    text-align: left;
}

button:hover {
    background-color: #08971d;
}

#custom-range {
    display: none;
    margin-top: 10px;
    text-align: left;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 300px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #13e732;
    color: #ffffff;
}

td {
    background-color: #f9f9f9;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    button {
        width: 100%;
    }
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}

